html {
    font-size: 20px;
}
body {
    font-family: sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 260%;
}

h3 {
    font-size: 220%;
}

h4 {
    font-size: 180%;
}

h5 {
    font-size: 140%;
}

h6 {
    font-size: 100%;
}

p {
    font-size: 80%;
}

textarea {
    width: 100%;
    border: 1px solid #000;
    background: 0 none;
}

textarea:focus {
    outline: 0 none;
}

.cheatSheet {
    position: absolute;
    top: 0;
    right: 0;
}

.cheatSheet pre {
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    width: 300px;
    height: 500px;
    overflow: auto;
    font-size: 11px;
    background: rgba(0,0,0,0.2);
    padding: 10px;
    border: 1px solid #ccc;
}

.cheatSheet:hover pre {
    display: block;
}

textarea {
    font-family: monospace;
    font-size: 16px;
}

table {
    border-spacing: 0;
    border-collapse: seperate;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

table th,
table td {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    padding: 10px;
}

table th {
    background: #efefef;
}

table tr:nth-child(even) td {
    background: #efefef;
}

table tr:hover td {
    background: #ddd;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 0;
    border: 0 none;
    font-size: 14px;
    margin: 0 10px 10px 0;
}

.btn:hover {
    background: #333;
}